@model IEnumerable<GamingPlatform.Domain.SportEventDomain.Event>

@{
ViewData["Title"] = "Events";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mb-4" style="color: #13274F;">Events</h1>

<p class="text-center mb-4">
    <a href="https://webapp-240916213023.azurewebsites.net" class="btn btn-primary" style="border-color: #BCC6CC; background-color: #A2C2E2; color: white;">See Sport Events Page</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-md-4 mb-2" style="color: #13274F;">
            <div class="card bg-light" style="border: #A2C2E2  0.5px solid;  ">
                <div class="card-img-container" style="padding: 10px; color: #A2C2E2;"  align="center">
                    <h4 class="card-title" style="color: #13274F;"><strong>@item.Name</strong></h4>
                    <h6 class="card-subtitle mb-2" >@item.EventType</h6>
                    <a href="https://webapp-240916213023.azurewebsites.net/Registration/Create?eventId=@item.Id" class="btn btn-success" style="border-color: darkred; background-color: darkred; color: white;">Register</a>
                    <a href="https://webapp-240916213023.azurewebsites.net/Ticket/BuyTicket/@item.Id" class="btn btn-success" style="border-color: #ffcd39; background-color: #ffcd39; color: white;">Buy a Ticket</a>
                    <a href="https://webapp-240916213023.azurewebsites.net/Events/Details/@item.Id" class="btn btn-success " style="border-color: #A2C2E2; background-color: #A2C2E2; color: white;">Details</a>
                    <img src="@item.ImageUrl" class="card-img-top mt-3" alt="@item.Name" style="max-width: 100%; height: auto; margin: 0 auto; display: block; ">
                    </div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>Description:</strong> @item.Description
                    </p>
                    <p class="card-text">
                        <strong>Location:</strong> @item.Location
                    </p>
                    <p class="card-text">
                        <strong>Start Date:</strong> @item.StartDate.ToString("d")
                    </p>
                    <p class="card-text">
                        <strong>End Date:</strong> @item.EndDate.ToString("d")
                    </p>
                    <p class="card-text">
                        <strong>Price:</strong> $@item.EventPrice
                    </p>
                    <p class="card-text">
                        <strong>Capacity:</strong> @item.MaximumCapacityEvent
                    </p>
                    <p class="card-text">
                        <strong>Registrations:</strong> @item.MaximumRegistrations
                    </p>
                    <p class="card-text">
                        <strong>Open for Registrations:</strong> @(item.OpenForRegistrations ? "Yes" : "No")
                    </p>
                </div>
            </div>
        </div>
        }
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
