@model IEnumerable<IntegratedSystems.Domain.DomainModels.HighScore>
@using IntegratedSystems.Domain.IdentityModels
@using Microsoft.AspNetCore.Identity
@inject UserManager<GamingPlatformUser> UserManager
@{
    ViewData["Title"] = "High Scores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = UserManager.GetUserAsync(User).Result;
}

<h1 class="text-center mb-4" style="color: #13274F;">Leaderboard</h1>
@if (User.IsInRole("User"))
{
    <p class="text-center mb-4">
        <a asp-action="Create" class="btn btn-primary" style="border-color: #BCC6CC; background-color: #A2C2E2; color: white;">Record Your Highest Score</a>
        <a asp-controller="Data" asp-action="ExportHighScores" class="btn btn-primary" style="border-color: #BCC6CC; background-color: #A2C2E2; color: white;">Export top 10 high scores</a>
    </p>
}

<div class="table-responsive">
    <table class="table">
        <thead class="bg-light">
            <tr style="background-color: #13274F; color: #D6EAF8;">
                <th>#</th>
                <th>Game</th>
                <th>Score</th>
                <th>Date Achieved</th>
                <th>Player</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 1;
            }
            @foreach (var highScore in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@highScore.Game.Name</td>
                    <td>@highScore.Score</td>
                    <td>@highScore.DateAchieved.ToString("d")</td>
                    <td>@highScore.UserId</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@highScore.Id" class="btn btn-info btn-sm" style="border-color: #ffcd39; background-color: #ffcd39; color: white;">Details</a>
                        @if (User.IsInRole("User") && highScore.UserId==Guid.Parse(user.Id))
                        {
                            <a asp-action="Delete" asp-route-id="@highScore.Id" class="btn btn-danger btn-sm" style="border-color: darkred; background-color: darkred; color: white;">Delete</a>
                        }
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
