@model IntegratedSystems.Domain.DomainModels.Game

@{
ViewData["Title"] = "Details";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mb-4" style="color: #13274F;">Game Details</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="p-4 rounded bg-light">
            <h4 class="mb-3">Game Information</h4>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th class="text-nowrap">
                        Name
                    </th>
                    <td>
                        @Model.Name
                    </td>
                </tr>
                <tr>
                    <th class="text-nowrap">
                        Description
                    </th>
                    <td>
                        @Model.Description
                    </td>
                </tr>
                <tr>
                    <th class="text-nowrap">
                        Platform
                    </th>
                    <td>
                        @Model.Platform
                    </td>
                </tr>
                <tr>
                    <th class="text-nowrap">
                        Genre
                    </th>
                    <td>
                        @Model.Genre
                    </td>
                </tr>
                <tr>
                    <th class="text-nowrap">
                        Version
                    </th>
                    <td>
                        @Model.Version
                    </td>
                </tr>
                <tr>
                    <th class="text-nowrap">
                        Price
                    </th>
                    <td>
                        @Model.Price
                    </td>
                </tr>
                <tr>
                    <th class="text-nowrap">
                        Release Date
                    </th>
                    <td>
                        @Model.ReleaseDate.ToShortDateString()
                    </td>
                </tr>
                </tbody>
            </table>
            
            <div class="text-center mt-4">
                <a asp-action="AddGameHighScore" asp-route-id="@Model.Id" class="btn btn-success" style="border-color: #A2C2E2; background-color: #A2C2E2; color: white;">Add High Score</a>
            </div>

            <h4 class="mt-4 mb-3">High Scores</h4>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Score
                    </th>
                    <th>
                        Date Achieved
                    </th>
                </tr>
                </thead>
                <tbody>
                @{
                var i = 1;
                }
                @foreach (var highScore in Model.HighScores)
                {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => highScore.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => highScore.Score)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => highScore.DateAchieved.ToShortDateString())
                    </td>
                </tr>
                i++;
                }
                </tbody>
            </table>

            <div class="text-center mt-4">
                <a asp-action="Index" class="btn btn-primary" style="border-color: dimgray; background-color: gray; color: white;">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
